#homebtn{
    background-color: #DCDBDA;
}

p.subheading{
    margin-top: -16px;
    padding-top: 10px;
    margin-bottom: 5px;
    font-size: 15px;
    padding-left:10px;
    border-top-style: solid;
    border-top-color: #4F4F4F;
    border-top-width: 5px;
}